* {
 margin: 0;
padding: 0;
box-sizing: border-box;
}
html,
body{
width: 100%;
height: 100%;
}

.page1{
    height: 100vh;
    width: 100%;
    background: conic-gradient(at 0 0,rgb(255, 228, 233),aliceblue,rgb(205, 243, 255),rgb(195, 255, 195),lightyellow,rgb(251, 226, 230));
    padding: 4vw;
}
.page1-in{
    height: 100%;
    width: 100%;
    background-color: #c4c4c48b;
    border-radius: 30px;
    backdrop-filter: blur(90px);
}